.story {
	background-color: #245852;
	color: #fff;
	padding: 229px 0 176px 0;
}

.story-wrap {
	@include flexBC;
	gap: 30px;
}

.story-textblock {
	// max-width: 550px;
	&__text {
		font-weight: 600;
		font-size: 25px;
		line-height: 157%;
		margin: 33px 0 55px 0;
	}

	&__button:hover {
		color: #fff;
		outline-color: #fff;
	}
}

.story-videoblock {
	position: relative;
	max-width: 720px;
	max-height: 420px;

	&:hover #video-button {
		opacity: 1;
	}

	button {
		position: absolute;
		top: 40%;
		right: 45%;
		fill: #fff;
		transition: $transition fill;
		z-index: 25;
		opacity: 0;
		transition: $transition opacity;
	}
}

.video-story {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
}

@media (max-width: 1179px) {
	.story {
		padding: 100px 0 80px;
	}

	.story-wrap {
		@include flexVertical;
	}
}

@media (max-width: 767px) {
	.story-textblock__title {
		font-size: 32px;
	}

	.story-textblock__text {
		font-size: 14px;
		margin: 20px 0;
	}

	.story-videoblock > button {
		display: none;
		opacity: 1;
		top: 30%;
		right: 40%;
	}
}
